<% include ../partials/header %>

<h1><%= campground.name %></h1>
<img src="<%= campground.image %>" >
<p><%= campground.description %></p>
<% campground.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author.username %></strong> - <%= comment.text %>
    </p>
    <p>
        <em>Submitted by <%= campground.author.username %></em>
    </p>
<% }) %>

<% include ../partials/footer %>

